.BasicInputOuter {
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 15px;
}

.BasicInputTitle {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  letter-spacing: -.3px;
}

.BasicInputInput {
  margin-top: 5px;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Proxima Nova", sans-serif;
  background-color: rgba(255, 255, 255, 0.95);
  border: none;
}

.BasicInputTextArea {
  resize: none;
}
